.logo {
  padding-top:30px;
  padding-bottom:30px;
}

.title {
  padding-left:25px;
  height:300px;
  display:flex;
  align-items:flex-start;
  flex-direction: column;
  justify-content: center;
}

.pubDate {
  float:right;
}

.newsTitle {
  display:inline;
}

.screenShot {
  margin-bottom: 1.25rem;
}