<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Library Weasel</title>
  <link rel="stylesheet" href="css/foundation.css"/>
  <link rel="stylesheet" href="css/libraryweasel.css"/>
  <link rel="stylesheet" href="css/featherlight.min.css"/>
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
  <div class="logo row">
    <div class="large-12 columns">
      <img src="img/logo300.png" alt="library weasel logo" style="float:left" />
      <div class="title">
        <h1>Library Weasel</h1>
        <h2>A breadboard<br />for open data.</h2>
      </div>
    </div>
  </div>

  <#list blogs as blog>
  <div class="row">
    <div class="large-12 columns">
      <h3 class="newsTitle">${blog.title}</h3>
      <span class="pubDate">${blog.date}</span>
    </div>
  </div>
  
  <div class="row">
    ${blog.content}
  </div>
  </#list>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/vendor/featherlight.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
